/* General */
* {
  box-sizing: border-box;
}

:root {
  --primary: #0A2830;
  --accent: #FF896D;
  --accent-dark: #ff7957;
}

body {
  font-family: 'Lexend', sans-serif;
}

p {
  margin-bottom: 0.5rem;
}

.hidden {
  display: none;
}

/* Spacing */
.col {
  text-align: right;
}

.pull-right {
  margin: 0 0 0 auto;
}

.vertical-align-top {
  vertical-align: top
}

.spaceR {
  margin-right: 50px;
}

.spaceL {
  margin-left: 50px;
}

.spaceLL {
  margin-left: 300px;
}

.spaceLR {
  margin-right: 300px;
}

/* Colours */
.whiteT {
  color: aliceblue;
}

.orange {
  color: orange
}

.spaceSi {
  margin-left: 70px;
    margin-right: 70px;
}

.simplify {
  color: black;
  font-size: 20px;
}

.bg-dark-blue {
  background-color: var(--primary);
}

/* Buttons */
.btn {
  background-color: var(--accent);
  color: white;
}

.btn:hover{
 background-color: var(--accent-dark);
 color: white
}

.like {
  color: white;
  background-color: var(--accent);
  font-size: 1rem;
}

/* Labels */
label {
  font-size: 0.9rem;
}

/* Cards */
.card {
  width: 33%;
}