/* General */
* {
  box-sizing: border-box;
}

:root {
  --primary: #0A2830;
  --accent: #FF896D;
}

body {
  font-family: 'Lexend', sans-serif;
}





.col {
  text-align: right;
  }
  .pull-right {
  margin: 0 0 0 auto;
  }

.vertical-align-top {
  vertical-align: top
}



